body, html {
    margin: 0;
    padding: 0;
}

#image-frame {
    margin: 10px auto;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px #888888;
    width: 400px;
    height:400px;
}

#set-image {
    width: 400px;
    height: 400px;
}