<!doctype html>
<html class="no-js">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Mustachify Me!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
        
        <link rel="stylesheet" type="text/css" href="shared/style/headers.css">
        <link rel="stylesheet" type="text/css" href="shared/style/buttons.css">
        <link rel="stylesheet" href="styles/main.css">

    </head>

    <body ng-app="mustachifyApp">

        <mobile-view>

            <div class="mb-page"> 

                <section role="region" id="header" ng-controller="headerCtrl">
                    <header>
                        <menu type="toolbar">
                            <a href="#" ng-click="pickImage()">
                                <span class="icon icon-add">pick</span>
                            </a>
                        </menu>
                        <h1>Mustachify Me!</h1>
                    </header>
                </section>

                <section role="region" id="image-handling" ng-controller="imageCtrl">
                    <div id="image-frame">
                        <!-- <p id="default-text">
                            Upload your image!
                        </p> -->
                        <img id="set-image" src="{{mustachedImage}}">
                    </div>
                </section>

                <section role="region" id="share" ng-controller="shareCtrl">
                    <button ng-click="setBackground">Set as background</button>
                </section>

            </div>

        </mobile-view>

        <script src="components/angular/angular.js"></script>
        <script src="components/angular-resource/angular-resource.js"></script>
        <script src="components/angular-cookies/angular-cookies.js"></script>
        <script src="components/angular-sanitize/angular-sanitize.js"></script>

        <!-- build:js scripts/scripts.js -->
        <script src="components/jquery/jquery.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <!-- endbuild -->

    </body>

</html>
